In [1]:
library(RMySQL)

Loading required package: DBI

In [4]:
dbc<-dbConnect(MySQL(),user='students',password='WeLoveR',dbname='engr122')

In [5]:
dbListTables(dbc)

[1] "babynames" "physc"

In [6]:
dbListFields(dbc,'physc')

 [1] "row_names" "CASEID"    "YEAR"      "AGE"       "GENDER"    "RACE"
 [7] "ETHNIC"    "MARSTAT"   "EDUC"      "EMPLOY"    "DETNLF"    "PREG"
[13] "VET"       "LIVARAG"   "PRIMINC"   "ARRESTS"   "STFIPS"    "CBSA"
[19] "PMSA"      "REGION"    "DIVISION"  "SERVSETA"  "METHUSE"   "DAYWAIT"
[25] "PSOURCE"   "DETCRIM"   "NOPRIOR"   "SUB1"      "ROUTE1"    "FREQ1"
[31] "FRSTUSE1"  "SUB2"      "ROUTE2"    "FREQ2"     "FRSTUSE2"  "SUB3"
[37] "ROUTE3"    "FREQ3"     "FRSTUSE3"  "NUMSUBS"   "IDU"       "ALCFLG"
[43] "COKEFLG"   "MARFLG"    "HERFLG"    "METHFLG"   "OPSYNFLG"  "PCPFLG"
[49] "HALLFLG"   "MTHAMFLG"  "AMPHFLG"   "STIMFLG"   "BENZFLG"   "TRNQFLG"
[55] "BARBFLG"   "SEDHPFLG"  "INHFLG"    "OTCFLG"    "OTHERFLG"  "ALCDRUG"
[61] "DSMCRIT"   "PSYPROB"   "HLTHINS"   "PRIMPAY"

In [7]:
dbGetQuery(dbc,"select count(CASEID) from physc;")

  count(CASEID)
1 1749767

In [8]:
dbGetQuery(dbc,"select EMPLOY from physc group by EMPLOY")

  EMPLOY
1 NA
2 (1) FULL TIME
3 (2) PART TIME
4 (3) UNEMPLOYED
5 (4) NOT IN LABOR FORCE

In [9]:
dbGetQuery(dbc,"select EMPLOY,count(EMPLOY) from physc group by EMPLOY;")

  EMPLOY                 count(EMPLOY)
1 NA                          0
2 (1) FULL TIME          249987
3 (2) PART TIME          124000
4 (3) UNEMPLOYED         655694
5 (4) NOT IN LABOR FORCE 680052

In [10]:
dbGetQuery(dbc,"select RACE,count(RACE) from physc group by RACE;")

   RACE                                           count(RACE)
1  NA                                                   0
2  (1) ALASKA NATIVE (ALEUT, ESKIMO, INDIAN)         3457
3  (13) ASIAN                                       11000
4  (2) AMERICAN INDIAN (OTHER THAN ALASKA NATIVE)   40119
5  (20) OTHER SINGLE RACE                          137759
6  (21) TWO OR MORE RACES                           22612
7  (23) NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER    7517
8  (3) ASIAN OR PACIFIC ISLANDER                     1656
9  (4) BLACK OR AFRICAN AMERICAN                   348798
10 (5) WHITE                                      1158404

In [11]:
dbDisconnect(dbc)

[1] TRUE